spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/remittance?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC}
    username: ${DB_USER:root}
    password: ${DB_PASSWORD:root}
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: debug
